#addMenuItem {
  flex-basis: 200px;
}

#accordion {
  position: absolute;
  z-index: auto;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.category-section {
  margin-top: 20px;
}

.category-title {
  font-size: 1.5rem; /* Size of the category title */
  font-weight: bold; /* Bold text */
  color: #333; /* Color of the category title */
  margin-bottom: 10px; /* Space below the title */
}
